<div>
  <h1>Update Product</h1>
  <form [formGroup]="productForm" (ngSubmit)="submitForm()" novalidate  *ngIf="this.productForm">
    <table border="1">
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" formControlName="name" class="form-control" maxlength="20"> </td>
        </tr>
        <tr>
            <td><label>Description</label> </td>
            <td> <textarea class="form-control" formControlName="description" rows="3" maxlength="50"></textarea></td>
        </tr>
        <tr>
            <td><label>Price</label> </td>
            <td> <input type="text" formControlName="price" class="form-control"></td>
        </tr>
        <tr>
            <td> <label>Company</label> </td>
            <td><input type="text" formControlName="company" class="form-control"> </td>
        </tr>
        <button type="submit">Submit</button>
    </table>
  </form>
</div>
<style>
    table {
    background-color: aqua;
    margin: auto;}
    h1 {
        text-align: center;
    background-color: white;
    margin: auto;
}
</style>