<h1>Update User details</h1>
<form [formGroup]="updateForm" (submit)="updateUserDetails()">
    <mat-form-field appearance="fill">
        <mat-label>firstName</mat-label>
        <input matInput formControlName="firstName" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>lastName</mat-label>
        <input matInput formControlName="lastName" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>mobileNumber</mat-label>
        <input matInput formControlName="mobileNumber" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput formControlName="password" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>firstName</mat-label>
        <input matInput formControlName="firstName" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>street</mat-label>
        <input matInput formControlName="street" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>address1</mat-label>
        <input matInput formControlName="address1" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>city</mat-label>
        <input matInput formControlName="city" />
    </mat-form-field>
    <button type="submit">Submit</button>
</form>