<form [formGroup]="userForm" (ngSubmit)="registerUser()" novalidate>
    <p>If you already registered user ,please <button type="button" [routerLink]="['/login']">Login</button> here! </p>
    <label>First Name</label>
    <input type="text" formControlName="firstName"><br>
    <label>Last Name</label>
    <input type="text" formControlName="lastName"><br>
    <label>Gender</label>
    Male <input type="radio" formControlName="gender">
    Female <input type="radio" formControlName="gender"><br>
    <label>Address</label>
    <label>Street</label> <input type="text" formControlName="street"><br>
    <label>Address1</label> <input type="text" formControlName="address1"><br>
    <label>Address2</label> <input type="text" formControlName="address1"><br>
    <label>City</label><input type="text" formControlName="city"><br>
    <label>State</label><input type="text" formControlName="state"><br>
    <label>Mobile Number</label><input type="text" formControlName="mobileNumber"><br>
    <label>Password</label>
    <input type="text" formControlName="password"><br>
    <input type="submit">
</form>