<div>
    <h1>My Products</h1>
  <div> <button type="button" [routerLink]="['/add-product']">Create new product</button></div> 
    <table border="1" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Company</th>
                <th>Product Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.company}}</td>
                <td><img height="200" width="200" src="{{'data:image/jpg;base64,' + product.image}}" /></td>
                <td>
                    <button type="button" [routerLink]="['/update-product/', product.id]">Update</button>
                    <button type="button" (click)="delete(product.id)">Remove</button>
                    <button type="button" [routerLink]="['/upload-image/', product.id]">Upload Image</button>          
                </td>
            </tr>
        </tbody>
    </table>
</div>
