
<div>
    <h1>Products</h1>
    <!-- <div class="row">
        <div *ngFor="let product of products" class="col-md-3 img-container" >
            <div> {{product.name}} |  {{product.price}}
            <img  height="250px" width="350px"  alt="Image not found" src="{{'data:image/jpg;base64,' + product.image}}" />
        </div>
        </div>
    </div> -->
    <div><img src="/assets/logout.png" alt="image" align="right" width="30" height="20"
            [routerLink]="['/registration']"></div>

    <div><img src="/assets/shopping-cart.png"  alt="image" align="right" width="30" height="20" (click)="getMyCart()">
    </div>

    <div> <button type="button" [routerLink]="['/add-product']">Create new product</button></div>
    
    <table border="1">
        
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Company</th>
                <th>Product Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.company}}</td>
                <td><img height="200" width="200" src="{{'data:image/jpg;base64,' + product.image}}" /></td>
                <td>
                    <button type="button" [routerLink]="['/update-product/', product.id]">Update</button>
                    <button type="button" (click)="deleteProductById(product.id)">Remove</button>
                    <button type="button" [routerLink]="['/upload-image/', product.id]">Upload Image</button>
                    <button type="button" (click)="addToCart(product.id)">Add to Cart</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>