table {
    background-color: aqua;
    margin: auto;}
    h1 {
        text-align: center;
    background-color: white;
    margin: auto;
}
h1 {
    text-align: center;
background-color: white;
margin: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
