table {
    background-color: aqua;
    margin: auto;}
    h1 {
        text-align: center;
    background-color: white;
    margin: auto;
}
h1 {
    text-align: center;
background-color: white;
margin: auto;
}