/* You can add global styles to this file, and also import other style files */

table {
    background-color: aqua;
    margin: auto;}
    h1 {
        text-align: center;
    background-color: white;
    margin: auto;
}
h1 {
    text-align: center;
background-color: white;
margin: auto;
}